<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Curriculum Vitae</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a scrollTo href="#personal">Personal information</a>
        </li>
        <li><a scrollTo href="#work">Work experience</a>
        </li>
        <li><a scrollTo href="#education">Education</a>
        </li>
        <li><a scrollTo href="#skills">Skills</a>
        </li>
        <li><a scrollTo href="#additional">Additional information</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<img src="/assets/bg.png" class="background">
