<div id="additional">
  <h2 class="heading">Additional information</h2>
  <div class="row final">
    <div class="col-md-6">
      <h4><b>Honours and awards</b></h4>
      <ul class="list-group">
        <li>SENT organisation award in Student company contest 2013</li>
        <li>Supporting member of IT College Student council</li>
        <li>Helping younger students with difficult subjects in IT College</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4><b>Interests and hobbies</b></h4>
      <ul class="list-group">
        <li>Music - singing, piano playing etc</li>
        <li>Sports - ball games, and martial arts</li>
        <li>Traveling</li>
      </ul>
    </div>
  </div>
</div>
