<div id="personal">
  <h2 class="heading">Personal information</h2>
  <div class="row">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Address: Tornimäe 7-132, Tallinn Estonia</p>
      <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>Telephone: +372 5654845</p>
    </div>
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email: <a href="mailto:semjon.greef@gmail.com">semjon.greef@gmail.com</a></p>
      <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="https://www.linkedin.com/in/semjon-greef-684689138/">LinkedIn profile</a></p>
    </div>
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Date of birth: 10.10.1995</p>
      <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><a href="http://semjon.kood2.ee/">Portfolio</a></p>
    </div>
  </div>

</div>
