<div id="work">
  <h2 class="heading">Work experience</h2>
  <div class="row">
    <div class="col-md-6" [@elementState]="scrollimateOptions.myScrollimation.currentState"
         [scrollimate]="scrollimateOptions.myScrollimation">
        <img class="leftImg" src="../../assets/work.png">
    </div>
    <div class="col-md-6">
        <div *ngFor="let work of works">
           <h4 class="highlighted">{{work.title}}</h4>
           <p>{{work.employer}}, <i>{{work.desc}}</i></p>
           <p><b>{{work.active}}</b></p>
        </div>
    </div>
  </div>
</div>
