<app-header></app-header>
<app-personal-info></app-personal-info>
<div class="container">
  <app-work-experience></app-work-experience>
  <app-education></app-education>
  <app-skills></app-skills>
  <app-additional></app-additional>
</div>
