<div id="education">
  <h2 class="heading" >Education and training</h2>
  <div class="row">
    <div class="col-md-6 fadeInDown" text>
      <h4><b>2015-2018 </b><span class="highlighted">IT Systems Development</span></h4>
      <p>Estonian Information Technology College, Tallinn (Estonia)</p>
      <p><b>Key subjects:</b></p>
      <ul class="list-group" *ngFor="let subject of collegeKeySubjects">
        <li>{{subject}}</li>
      </ul >
      <h4><b>2011-2014 </b><span class="highlighted">Gymnasium diploma</span></h4>
      <p>Tallinn School no 21, Tallinn (Estonia)</p>
      <h4><b>2003-2010 </b><span class="highlighted">Basic education in music</span></h4>
      <p>Piano playing, Tallinn School of Music, Tallinn (Estonia)</p>
    </div>
    <div class="col-md-6 smaller-column" [@elementState]="scrollimateOptions.mysScrollimation.currentState"
         [scrollimate]="scrollimateOptions.mysScrollimation">
      <img src="../../assets/education.png">
    </div>
  </div>
</div>
