<h2 id="skills" class="heading">Personal skills</h2>
<h4><b>Mother tongues:</b><span class="highlighted"> Russian, Estonian</span></h4>
<h4 class="bold">Other languages:</h4>
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Understading</th>
      <th>Speaking</th>
      <th>Writing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Listening, Reading</td>
      <td>Spoken interaction, Spoken production</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row" class="highlighted">English</th>
      <td>C1</td>
      <td>C1</td>
      <td>C1</td>
    </tr>
  </tbody>
</table>
</div>
<div class="row">
  <div class="col-md-6">
    <h4><b>Communication skills:</b></h4>
    <p>Advanced communication skills gained as sales consultant</p>
    <p>Fluent in three languages</p>
  </div>
  <div class="col-md-6">
    <h4><b>Job related skills:</b></h4>
    <p>C#, Azure, Java, HTML, CSS, Javascript, jQuery, Angular, TypeScript, Android, WordPress, Adobe Photoshop</p>
  </div>
</div>
