/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');

html body {
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
  position: relative;
}
.heading{
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
}
h2{
    color: #41496D;
}
img {
    max-width: 100%;
}
.row{
    border-bottom-style: solid;
    border-width: 1px;
    padding-bottom: 4em;
    border-color: #aaa;
}
.final{
    border-bottom-style: hidden;
}
.smaller-column{
    margin-top: 3em;
}
.table{
    margin-bottom: 2em;
    margin-top: 2em;
}
.bold{
    font-weight: bold;
}
.highlighted{
    color:#FD5D4D;
}
.list-group{
    padding-left: 2em;
}
.background{
     box-shadow: 0 0px 10px 0 #000;
     margin-top: -13%;
}
.navbar{
  z-index: 1;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}